body {
    font-family: Arial, sans-serif;
    background-color: #e9edc9;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    width: 80%; 
    max-width: 500px; 
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 20px;
}

.siteTitle {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin-bottom: 0;
    font-size: 4vw; 
}

.login-form {
    margin-bottom: 20px;
}

form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #d4a373;
    color: #fff;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #faedcd;
}

.login-text {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 20px;
}

.error-message {
    text-align: center;
    color: #ff0000;
    margin-top: 10px;
    font-size: 14px;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 24px; 
    }
}
